USE [master]
GO
/****** Object:  Database [DB_QUANLYPHANCONGDEANCONGTY]    Script Date: 11/26/2022 11:51:36 PM ******/
CREATE DATABASE [DB_QUANLYPHANCONGDEANCONGTY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QUANLYPHANCONGDEANCONGTY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_QUANLYPHANCONGDEANCONGTY.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_QUANLYPHANCONGDEANCONGTY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_QUANLYPHANCONGDEANCONGTY_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QUANLYPHANCONGDEANCONGTY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QUANLYPHANCONGDEANCONGTY]
GO
/****** Object:  Table [dbo].[DEAN]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAN](
	[MADA] [int] NOT NULL,
	[TENDA] [nvarchar](50) NULL,
	[DD_DA] [nvarchar](250) NULL,
	[MA_DV] [int] NULL,
 CONSTRAINT [PK_DEAN] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MADV] [int] NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[MANQL] [int] NULL,
	[NGAY_BD] [datetime] NULL,
 CONSTRAINT [PK_DONVI] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI_DD]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI_DD](
	[MADV] [int] NOT NULL,
	[DD] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_DONVI_DD] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HONV] [nvarchar](50) NULL,
	[TENNV] [nvarchar](50) NULL,
	[NS] [datetime] NULL,
	[GT] [nvarchar](10) NULL,
	[DCHI] [nvarchar](250) NULL,
	[LUONG] [float] NULL,
	[MANGS] [int] NULL,
	[MADV] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NV_DEAN]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_DEAN](
	[MANV] [int] NOT NULL,
	[MADA] [int] NOT NULL,
	[SOGIO] [float] NULL,
 CONSTRAINT [PK_NV_DEAN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 11/26/2022 11:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[TEN_TN] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[NS] [datetime] NULL,
	[GT] [nvarchar](10) NULL,
	[QUANHE] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANNHAN] PRIMARY KEY CLUSTERED 
(
	[TEN_TN] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DEAN]  WITH CHECK ADD  CONSTRAINT [FK_DEAN_DONVI] FOREIGN KEY([MA_DV])
REFERENCES [dbo].[DONVI] ([MADV])
GO
ALTER TABLE [dbo].[DEAN] CHECK CONSTRAINT [FK_DEAN_DONVI]
GO
ALTER TABLE [dbo].[DONVI]  WITH CHECK ADD  CONSTRAINT [FK_DONVI_NHANVIEN] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONVI] CHECK CONSTRAINT [FK_DONVI_NHANVIEN]
GO
ALTER TABLE [dbo].[DONVI_DD]  WITH CHECK ADD  CONSTRAINT [FK_DONVI_DD_DONVI] FOREIGN KEY([MADV])
REFERENCES [dbo].[DONVI] ([MADV])
GO
ALTER TABLE [dbo].[DONVI_DD] CHECK CONSTRAINT [FK_DONVI_DD_DONVI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHANVIEN] FOREIGN KEY([MADV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[NV_DEAN]  WITH CHECK ADD  CONSTRAINT [FK_NV_DEAN_DEAN] FOREIGN KEY([MADA])
REFERENCES [dbo].[DEAN] ([MADA])
GO
ALTER TABLE [dbo].[NV_DEAN] CHECK CONSTRAINT [FK_NV_DEAN_DEAN]
GO
ALTER TABLE [dbo].[NV_DEAN]  WITH CHECK ADD  CONSTRAINT [FK_NV_DEAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NV_DEAN] CHECK CONSTRAINT [FK_NV_DEAN_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_NHANVIEN]
GO
USE [master]
GO
